<h1>Editing Order</h1>

<%= render 'form', order: @order %>

<%= link_to 'Show', order_path(@order) %> |
<%= link_to 'Back', table_orders_path(@order.table) %><br>
<%= link_to 'All Orders', orders_path %>
