<% provide(:title, "Edit Table ##{@table.id}") %>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card m-3">
      <div class="card-body">
        
        <h4 class="card-title">Editing Table</h4>
        
        <%= render 'form', table: @table %>
        
      </div>
    </div>
    
    <%= link_to 'Show', @table, class: 'btn btn-outline-primary ml-3' %> |
    <%= link_to 'All tables', tables_path, class: 'btn btn-outline-dark' %>
    
  </div>
</div>
