    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Quick Access</div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <%= link_to "Orders", orders_path, class: "list-group-item list-group-item-action bg-light" %>
        <%= link_to "Tables", tables_path, class: "list-group-item list-group-item-action bg-light" %>
        <%= link_to "Edibles", edibles_path, class: "list-group-item list-group-item-action bg-light" %>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->